<h1>Title List</h1>
<ul>
<% @posts.each do |post| %>
  <li><a href="posts/<%= post.id %>"><%= post.title %></li></a>
<% end %>
</ul>
<%= link_to 'Entry', new_post_path %>
<div class="text-center">
  <%= paginate @posts %>
</div>
